<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>Text Translator</title>
</head>
<body>
    <div style="text-align: center;" >
        <h1>Text To Speech service</h1>
        <div>Enter the text to convert into speech</div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <textarea style="width: 50%; height: 150px; margin-top : 20px;" name="text" class="form-control"></textarea>
                    <div>
                    <button style="background: #0066A2; height: 50px; width: 100px; margin-top : 20px;" type="submit" >Translate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>